# Ignore local VS Code developer settings
.vscode/settings.json

# Ignore raw or generated data files
data/**/*.xls*
data/**/*.zip

# Ignore everything under .ipynb_checkpoints
**/.ipynb_checkpoints

# Ignore src/__pycache__ to avoid repo bloat
__pycache__/